<!DOCTYPE html>
<html class="">
<head>
    <title>C&L TRANSPORTES Y SERVICIOS</title>
    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon" />
</head>
<body>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                
                <div class="col-xs-12">
                   <center><img style="max-width: 50%;text-align: center;" src="assets/images/acceso_denegado.png"></center>
                </div>
                
            </div>       
        </div>
    </div>
</body>
</html>
