<!DOCTYPE html>
<html class="">
<head>
    <title>C&L TRANSPORTES Y SERVICIOS</title>
    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon" />
</head>
<body>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xs-1" style="color: rgba(19, 152, 67, 1.0);">
                   
                </div>
                <div class="col-xs-3">
                    <img style="max-width: 100%;overflow: hidden;margin: 0 auto;padding: 0;position: relative; text-align: center;" src="assets/images/logo_cyl.png" alt="logo">
                </div>
                <div class="col-xs-4">
                    <h2  style="text-align: center;"><label class="center">Asignar camiones</label></h2>
                </div>
                <div class="col-xs-3">
                     <img style="max-width: 100%;overflow: hidden;margin: 0 auto;padding: 0;position: relative; text-align: center;" src="assets/images/logo_SE.jpg" alt="logo">
                </div>
                <div class="col-xs-1">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    
                </div>
                <
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-md-12-col-sm-12-col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img style="max-width: 100px;text-align: center;" src="assets/images/camion-cyl.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1">
                    
                </div>
            </div>            
        </div>
    </div>
</body>
</html>
