<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Dijamant</title>
	<atom:link href="http://www.dijamant.com.pe/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.dijamant.com.pe</link>
	<description>Buscamos la perfección en los detalles</description>
	<lastBuildDate>Mon, 04 Jul 2016 10:51:37 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.4</generator>
	<item>
		<title>Bienvenidos a Dijamant</title>
		<link>http://www.dijamant.com.pe/sin-categoria/bienvenidos-a-dijamant/</link>
		<comments>http://www.dijamant.com.pe/sin-categoria/bienvenidos-a-dijamant/#respond</comments>
		<pubDate>Mon, 30 May 2016 16:07:59 +0000</pubDate>
		<dc:creator><![CDATA[dijamant_wp_admin]]></dc:creator>
				<category><![CDATA[Sin categoría]]></category>

		<guid isPermaLink="false">http://192.168.0.150/dijamant/?p=4689</guid>
		<description><![CDATA[Somos una empresa especializada en la Asesoría, Planificación, Organización y Supervisión de Eventos Corporativos y Sociales la cual nos permite asegurar el éxito de tu evento. Para ello contamos con un Staff de profesionales]]></description>
				<content:encoded><![CDATA[<p>Somos una empresa especializada en la Asesoría, Planificación, Organización y Supervisión de Eventos Corporativos y Sociales la cual nos permite asegurar el éxito de tu evento.<br />
Para ello contamos con un Staff de profesionales altamente calificados y con una amplia experiencia en producción de Eventos &amp; Catering de primer nivel, quienes cuidaran cada detalle al máximo.</p>
]]></content:encoded>
			<wfw:commentRss>http://www.dijamant.com.pe/sin-categoria/bienvenidos-a-dijamant/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
