 <div class='page-topbar '>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <div class='pull-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap">
                    <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class='pull-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <li class="profile">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <div class="menu-usuario">
                            <img src="foto" alt="user-image" class="img-usuariox img-circle img-inline">
                            <span class="nom-usuario"></span>&nbsp;&nbsp;
                            <i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li>
                            <a href="#profile">
                                <i class="fa fa-user"></i>
                                Perfil
                            </a>
                        </li>
                        <li class="last">
                            <a href="logout">
                                <i class="fa fa-lock"></i>
                                Salir
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid">
    <!-- SIDEBAR - START -->
    <div class="page-sidebar ">
        <!-- MAIN MENU - START -->
        <div class="page-sidebar-wrapper" id="main-menu-wrapper"> 
            <!-- USER INFO - START -->
            <div class="profile-info row">
                <div class="profile-image col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="img-usuario">
                    </a>
                </div>
                <div class="profile-details col-md-8 col-sm-8 col-xs-8">
                    <h3>
                        <a href="javascript:void(0)"><span class="n-usuario">HOLA, </span><span class="n-usuario nom-usuario"></span></a>
                        <span class="profile-status online"></span>
                    </h3>
                    <p class="profile-title"></p>
                </div>
            </div>
            <ul class='wraplist'>
                <li class="open"> 
                    <a href="login">
                        <i class="fa fa-home"></i>
                        <span class="title">Inicio</span>
                    </a>
                </li>
                <li class=""> 
                    <a href="javascript:void(0);">
                        <i class="fa fa-money"></i>
                        <span class="title">Entregas</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a class="" href="almacen">Detalle de entregas</a>
                        </li>
                        <li>
                            <a class="" href="envio_postventa">Detalle entrega Post-venta</a>
                        </li>                        
                        <li>
                            <a class="" href="n_entregas">Subir N° de entregas</a>
                        </li>
                        <li>
                            <a class="" href="control_entregas">Control de entregas</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:void(0);">
                        <i class="fa fa-archive"></i>
                        <span class="title">Administracion</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu" >
                        <li>
                            <a class="" href="cliente">Clientes</a>
                        </li>
                        <li>
                            <a class="" href="personal">Personal</a>
                        </li>
                        <li>
                            <a class="" href="destinatario">Destinatario</a>
                        </li>
                        <li>
                            <a class="" href="camion">Camiones</a>
                        </li>
                        <li>
                            <a class="" href="cargo">Cargo</a>
                        </li>
                        <li>
                            <a class="" href="usuario">Usuarios</a>
                        </li>
                    </ul>
                </li>
                <li> 
                    <a href="FileManager">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                        <span class="title">Administrador de archivos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>